{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transaction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ transaction.title }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th>Isinput</th>
                <td>{% if transaction.isInput %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ transaction.description }}</td>
            </tr>
            <tr>
                <th>Isvalid</th>
                <td>{% if transaction.isValid %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if transaction.createdAt %}{{ transaction.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if transaction.updatedAt %}{{ transaction.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('transaction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('transaction_edit', { 'id': transaction.id }) }}">Edit</a>
        </li>
        <a href="{{path("transaction_delete", { 'id': transaction.id })}}">delete</a>
    </ul>
{% endblock %}
